{{#if data.id}}
	<div class="row">
		<div class="left">Type</div>
		<select name="crudType" class="right">
			<option value="update">Update</option>
			<option value="delete">Delete</option>
		</select>
	</div>
{{/if}}
<div class="row">
	<div class="left"></div>
	<div class="right">
		<input type="submit" value="Send"/>
	</div>
</div>
