body, html {
	width: 100%;
	background: #f1eef7;
	font-family: 'Helvetica Neue',arial,sans-serif;
	font-weight: 400;
	color: #111016;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	line-height: 1;
}

a {
	color: #2d1c88;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	padding: 32px;
}

h1#title {
	font-size: 32pt;
}

h2, h3, h4, h5, h6 {
	margin-top: 32px;
}

p, ul, table, svg {
	margin-top: 16px;
}

img, svg {
	max-width: 100%;
}

ul {
	margin-left: 16px;
	line-height: 20px;
}

li, ol {
	margin-top: 8px;
}

p {
	font-size: 16px;
	line-height: 20px;
}

.sectioncontainer {
	margin-top: 32px;
}

.row {
	display: flex;
	margin-top: 8px;
}
.row .left {
	text-align: center;
	min-width: 32px;
	margin-right: 16px;
	align-self: center;
}

.row .right {
	flex: 1;
}

table td {
	padding: 4px 16px 4px 0;
}

.align-r {
	text-align: right;
}

/**
 *  INTERNAL USE ONLY
 */

pre {
	font-family: 'JetBrains Mono', 'Cascadia Code', monospace;
	line-height: 1.2;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}

input.right, select.right {
	flex: 1;
	padding: 2px;
	max-width: 320px;
}

input[type="submit"] {
	padding: 6px 12px;
}
