:root {
	font-feature-settings: "ss03", "cv08", "cv05";

	--text: #333;
	--border: #CCC;
	--panel-bg: #fff;

	--primary-fg: #3e3475;
	--primary-bg: #f9f8fc;
	--primary-bg-dark: #e0dfe2;

	--secondary-fg: #347441;
	--secondary-bg: #f8fcf9;

	--error-fg: #6e2828;
	--error-bg: #fddcdc;

	--tertiary-fg: #fbb03b;
	--tertiary-fg-dark: #ba7911;

	--shadow-light: rgba(0, 0, 0, 0.15);
	--shadow-heavy: rgba(0, 0, 0, 0.75);
}

body,
html {
	width: 100%;
	font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
	font-weight: 400;
	color: var(--text);
	background: var(--primary-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/** HEADER **/
/*#region header */

.container,
#header--small {
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	padding: 0 24px;
}

.container {
	padding-bottom: 48px;
}

#header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 48px;
}

#header--left {
	flex: 1;
}

#header--title {
	font-size: 32px;
	line-height: 1.4;
	font-weight: 700;
}

#header--subtitle {
	font-size: 22px;
	line-height: 1.4;
	margin-top: 0;
}

#header--right a {
	margin-left: 24px;
	font-weight: 700;
	text-decoration: underline;
}

#header--small {
	font-size: 18px;
	line-height: 48px;
	font-weight: 400;
	border-bottom: 1px solid var(--border);
}

#header--small a {
	font-weight: 700;
}

/*#endregion header */

/** ALERTS **/
/*#region alerts */

div.error,
div.info {
	padding: 0 24px 24px;
}

div.error {
	background-color: var(--error-bg);
	border: 1px solid var(--error-fg);
	font-weight: 700;
}

div.info {
	background-color: var(--secondary-bg);
	border: 1px solid var(--secondary-fg);
}

/*#endregion alerts */

/** DASHBOARD **/
/*#region dashboard */

.rounded-panel {
	box-shadow: 0 4px 12px var(--shadow-light);
	border-radius: 6px;
}

#dashboard--lead__container {
	padding: 12px;
	background-color: var(--secondary-bg);
	border: 2px solid var(--secondary-fg);
	margin-bottom: 24px;
	line-height: 1.618;
	display: flex;
	align-items: flex-start;
}

#dashboard--lead__img {
	width: 64px;
	min-width: 64px;
	border-radius: 32px;
	margin-right: 12px;
}

#dashboard--lead__text {
	padding: 0;
	font-size: 14px;
}

#dashboard--panels {
	display: grid;
	grid-template-columns: calc(50% - 12px) calc(50% - 12px);
	gap: 24px;
}

.dashboard--panel {
	width: 100%;
	background-color: var(--panel-bg);
	height: 136px;
	position: relative;
}

.dashboard--panel .dashboard--panel__right {
	padding: 12px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

.dashboard--panel.hasimage .dashboard--panel__right {
	padding-left: 100px;
}

#dashboard--panel__notes {
	height: 270px;
	margin-bottom: 24px;
}

.dashboard--panel__header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	gap: 8px;
}

.dashboard--panel__header h2 {
	font-size: 20px;
	line-height: 1;
}

.dashboard--panel__header .subtitle {
	font-size: 12px;
	font-weight: 700;
	flex-shrink: 0;
}

.dashboard--panel__header a {
	font-size: 12px;
	font-weight: 700;
	flex-shrink: 0;
}

.dashboard--panel .dashboard--panel__content {
	font-size: 14px;
	display: flex;
	flex-direction: row;
	font-variant-numeric: tabular-nums;
}

.dashboard--panel__content,
.dashboard--panel__content>span {
	line-height: 20px;
}

.dashboard--panel__image {
	height: 136px;
	width: 84px;
	object-fit: cover;
	border-radius: 6px 0 0 6px;
}

.dashboard--panel__graph {
	width: 80px;
	height: 80px;
	margin-right: 12px;
}

.dashboard--panel ul {
	margin-top: 0;
	margin-left: 12px;
	width: calc(100% - 16px);
}

.dashboard--panel__li {
	margin-top: 0;
	margin-bottom: 8px;
}

.dashboard--panel__li a,
.dashboard--panel__li strong,
.dashboard--panel__li span,
.dashboard--panel__li>small {
	display: block;
	line-height: 18px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dashboard--panel--meta {
	flex: 1;
}

.dashboard--panel--meta__row {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 4px;
	display: flex;
	justify-content: space-between;
	gap: 8px;
}

.dashboard--panel--meta__row span:first-child {
	flex-shrink: 0;
}

.dashboard--panel--meta__row span:last-child {
	text-align: right;
	max-width: 75%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*#endregion dashboard */

/** MAIN CONTENTS **/
/*#region main */

a {
	color: var(--primary-fg);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.page--data h2,
.page--data h3,
.page--data p,
.page--data hr,
.page--data svg,
.page--data table,
.page--data .error,
.page--data form,
.page--data input[type="submit"] {
	margin-top: 16px;
}

.sectioncontainer {
	margin-top: 48px;
}

.page--data p {
	line-height: 1.618;
}

.page--data__header {
	display: flex;
	align-items: center;
	width: 100%;
	padding-top: 32px;
}

.page--data__header a {
	font-weight: 700;
	font-size: 14px;
	margin-right: 16px;
	flex-shrink: 0;
}

.page--data__header h2 {
	margin-top: 0;
}

.flex {
	flex: 1;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid var(--border);
}

tr {
	border-top: 1px solid var(--border);
}

hr {
	border: 0;
	border-top: 1px solid var(--primary-fg);
}

img,
svg,
audio,
video {
	width: 100%;
	max-width: 100%;
}

ul {
	margin-left: 16px;
	line-height: 20px;
}

li,
ol {
	margin-top: 8px;
}

summary {
	cursor: pointer;
}

.row {
	display: flex;
	margin-top: 4px;
}

.row .left {
	text-align: center;
	min-width: 32px;
	margin-right: 16px;
	align-self: flex-start;
}

.row .right {
	flex: 1;
}

.row p:first-of-type {
	margin-top: 0;
}

.row.metadata .right {
	align-self: center;
	font-size: 12px;
}

iframe.youtube {
	margin-top: 48px;
	border: 0;
	background-color: var(--panel-bg);
	width: 100%;
	aspect-ratio: 16/9;
}

/*#endregion main */

/** MUSIC STATS **/
/*#region music-stats */

#now-playing {
	background-color: var(--secondary-bg);
	color: var(--secondary-fg);
	padding: 24px;
	border: 1px solid var(--secondary-fg);
}

table td {
	padding: 4px 8px 4px 0;
	white-space: nowrap;
}

.align-r {
	text-align: right;
}

.table-flex-1 {
	width: 99%;
}

.scrobble select {
	display: block;
	width: 100%;
	margin: 16px 0;
	padding: 6px;
}

.artist-count {
	font-variant-numeric: tabular-nums;
	font-weight: 700;
	padding: 4px 8px;
	border-radius: 6px;
	min-width: fit-content;
	display: block;
	color: var(--primary-bg);
	background-color: var(--primary-fg);
}

/*#endregion music-stats */

/** GAME STATS **/
/*#region game-stats */

.link-bar {
	margin-top: 48px;
	font-weight: 700;
	display: flex;
	flex-wrap: wrap;
}

.link-bar--title {
	flex: 1;
}

.link-bar--links {
	display: flex;
}

.link-bar--links a:not(:last-of-type)::after {
	text-decoration: none;
	color: var(--text);
	border-bottom: 0;
	margin: 0 8px;
	display: inline-block;
	content: '•';
}

.games-popular--title {
	text-align: right;
	font-size: 20px;
	font-weight: 700;
	max-width: 40%;
	padding: 0 8px;
}

.games-popular--meta {
	width: 99%;
	padding: 6px;
}

.games-popular--bar {
	margin-top: 2px;
	line-height: 24px;
	overflow: hidden;
}

.games-popular--stats {
	padding-top: 4px;
	line-height: 16px;
	display: flex;
	justify-content: space-between;
	column-gap: 8px;
	font-size: 12px;
}

.games-popular--pie {
	margin-top: -3px !important;
	margin-left: 4px;
	vertical-align: middle;
	transform: rotate(-90deg);
	width: 16px;
	height: 16px;
}

.games-popular--pie__circle {
	fill: transparent;
	stroke: var(--primary-fg);
	stroke-width: 32;
}

.perfected .games-popular--pie__circle {
	stroke: var(--tertiary-fg);
}

.games-popular--pie__outline {
	fill: transparent;
	stroke: var(--text);
	stroke-width: 4;
}

.perfected .games-popular--pie__outline {
	stroke: var(--tertiary-fg-dark);
}

.rainbow-text,
.game-achievements--bar.pct-100 {
	background-repeat: repeat;
	background-image: linear-gradient(30deg in hsl longer hue, red 0 0, red 0 0);
	background-image: linear-gradient(30deg in oklch longer hue, oklch(65% 0.1381 0), oklch(65% 0.1381 0));
}

.rainbow-text {
	font-weight: 700;
	background-size: 240px 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: 3s rainbow-text linear infinite;
}

@keyframes rainbow-text {
	from {
		background-position-x: 0;
	}

	to {
		background-position-x: 240px;
	}
}

.image--banner {
	margin: 0 -24px -72px;
	background-size: cover;
	background-position: center center;
}

.image--banner__overlay {
	width: 100%;
	background: transparent;
	background: linear-gradient(0deg, var(--primary-bg) 0%, rgba(255, 255, 255, 0) 100%);
}

.image--banner__steam {
	aspect-ratio: 192/62;
}

.image--banner__16x9 {
	aspect-ratio: 16/9;
}

/*#endregion game-stats */

/** GAME ACHIEVEMENTS **/
/*#region game-achievements */

.game-achievements--container,
.listen-compact--tracklist {
	font-size: 14px;
	margin-top: 8px;
}

.game-achievements--list {
	margin-left: 20px;
	list-style: '🏆' outside;
}

.game-achievements--list li {
	padding-left: 8px;
}

.game-achievements--bar__container {
	flex: 1;
	border-radius: 6px;
	background-color: var(--primary-bg-dark);
	height: 32px;
	margin-top: 8px;
	margin-bottom: 24px;
	display: flex;
}

.game-achievements--bar {
	border-radius: 6px;
	background-color: var(--primary-fg);
	font-weight: 700;
	color: var(--primary-bg);
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 0 0 4px #000, 0 2px 24px #000;
}

.game-achievements--bar.pct-100 {
	background-size: 1800px;
	animation: 2s rainbow-progress-bar linear infinite;
}

@keyframes rainbow-progress-bar {
	from {
		background-position-x: 0;
	}

	to {
		background-position-x: 1800px;
	}
}

.game-achievements--list__large {
	padding: 10px 0;
	display: flex;
	border-bottom: 1px solid var(--border);
}

.game-achievements--check {
	width: 40px;
	flex-shrink: 0;
	font-size: 28px;
	margin-right: 10px;
	line-height: 40px;
}

.game-achievements--check {
	opacity: 0.2;
}

.game-achievements--check.unlocked {
	opacity: 1;
}

.game-achievements--details {
	min-height: 40px;
	font-size: 14px;
	line-height: 20px;
	color: #888;
}

.game-achievements--details.unlocked {
	color: var(--text);
}

/*#endregion game-achievements */

/** FILM PAGE */
/*#region film */

.entry-with-poster {
	display: flex;
}

.entry-poster {
	margin-right: 16px;

	width: auto;
	max-width: 120px;

	height: auto;
	max-height: 180px;
}

.left.align-middle {
	align-self: center;
}

.film-rating {
	font-size: 28px;
}

.film-rating--stars {
	letter-spacing: -0.5rem;
	margin-right: 16px;
}

.film-rating--stars,
.film-rating--text {
	display: inline-block;
}

.film-attribution {
	margin-top: 32px;
	padding-top: 16px;
	border-top: 1px solid var(--border);
}

/*#endregion film */

/** PAGINATION **/
/*#region pagination */

.pagination a {
	flex: 1;
	text-align: center;
	margin: 0 8px;
	padding: 16px 32px;
	border-radius: 16px;
	background-color: rgba(45, 28, 136, 0.05);
	font-weight: 700;
}

.pagination a:hover {
	background-color: rgba(45, 28, 136, 0.1);
	text-decoration: none;
}

.pagination div {
	display: flex;
}

/*#endregion pagination */

/** NOTES **/
/*#region notes */

.e-content {
	line-height: 1.618;
}

.e-content a {
	font-weight: 700;
}

.hidden {
	display: none;
}

/*#endregion notes */

/** INTERNAL USE ONLY **/
/*#region internal */

code,
pre {
	font-family: 'JetBrains Mono', 'Cascadia Code', monospace;
	line-height: 1.2;
}

pre {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}

code {
	background-color: var(--shadow-light);
	padding: 2px 4px;
	border-radius: 4px;
	font-weight: 700;
}

input.right,
select.right,
textarea.right {
	width: 100%;
	flex: 1;
	font-size: 16px;
	padding: 4px;
	margin-bottom: 4px;
}

textarea.right:focus {
	height: 10em;
}

input[type="submit"],
input[type="date"],
select {
	padding: 6px 12px;
}

[data-tooltip] {
	cursor: help;
	text-decoration: dotted underline;
}

[data-tooltip]::after {
	display: block;
	position: absolute;
	content: attr(data-tooltip);
	border: 2px solid var(--primary-fg);
	border-radius: 6px;
	background-color: var(--panel-bg);
	color: var(--primary-fg);
	padding: 4px 8px;
	text-align: left;

	opacity: 0;
	transition: transform 0.2s, opacity 0.1s;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transform: scale(0.01);
	transform-origin: top left;
}

[data-tooltip]:hover::after {
	opacity: 1;
	transform: scale(1);
	z-index: 10000;
}

.cache-list {
	border-top: 1px solid var(--border);
}

.cache-list li {
	margin-top: 0;
	padding: 8px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--border);
}

.page--data .form-inline {
	margin-top: 0;
	margin-left: 16px;
	display: inline;
}

.page--data .form-inline input[type=submit] {
	margin-top: 0;
}

#setup-page .row {
	margin-bottom: 16px;
}

#setup-page .right p {
	margin-top: 0;
	margin-bottom: 4px;
}

/*#endregion internal */

@media (max-width: 660px) {
	#header {
		display: block;
		text-align: center;
	}

	#header--right {
		display: none;
	}

	#dashboard--lead__img {
		display: none;
	}

	#dashboard--panels {
		grid-template-columns: 100%;
	}

	.cache-list li {
		display: block;
	}

	.cache-list--url,
	.cache-list--size {
		margin-bottom: 8px;
	}

	.page--data .form-inline {
		margin-left: 0;
	}

	.games-popular--game,
	.games-popular--title {
		display: block;
	}

	.games-popular--game {
		padding: 8px 0;
	}

	.games-popular--title {
		text-align: left;
		max-width: 100%;
		margin-top: 4px;
	}

	.games-popular--meta {
		display: block;
		width: 100%;
	}

	.desktop {
		display: none;
	}

	.link-bar,
	.link-bar--title {
		display: block;
		margin-bottom: 8px;
	}

	.entry-with-poster,
	.entry-poster {
		display: block;
	}

	.entry-poster {
		margin-bottom: 16px;
	}
}

/* Disable animation completely when reduced-motion enabled */
@media (prefers-reduced-motion: reduce) {

	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-delay: 0s !important;
		transition-duration: 0s !important;
	}
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}
