{{> pageHeader title="Bookmarks" url="/" }}

<div class="page--data">
<p>
	Drag this link onto your bookmark toolbar to make new bookmarks easily:
	<a href="javascript:(() => { window.open(`{{internalRoot}}/bookmarks?title=${encodeURIComponent(document.title)}&url=${encodeURIComponent(window.location.href)}`, '_blank').focus() })()" title="Bookmark This Page">
		<code>Bookmark This Page</code>
	</a>
</p>

<hr/>

{{> internal/bookmark data=bookmark }}
<hr/>

{{#each bookmarks as |bookmark| }}
	{{> internal/bookmark data=bookmark }}
{{/each}}

{{> pagination route="/bookmarks" pagination=pagination }}
</div>
