{{> pageHeader title="Cached Pages" }}

<div class="page--data">
{{#if hasError }}
	<div class="sectioncontainer error">
		<p class="error">There was an error deleting this URL.</p>
	</div>
{{/if}}

<form class="form-inline" method="post" action="/cache/delete-all">
	<p><input type="submit" value="❌ Purge Entire Cache" /></p>
</form>

{{#if cachedPages}}
	<ul class="sectioncontainer cache-list">
	{{#each cachedPages as |page| }}
		<li>
			<div class="cache-list--url">{{page.[0]}}</div>
			<div class="cache-list--size"><small>{{page.[1].contents.length}} bytes</small></div>
			<form class="form-inline" method="post" action="/cache/delete"><input type="hidden" name="url" value="{{page.[0]}}" /><input type="submit" value="❌ Delete" /></form>
		</li>
	{{/each}}
	</ul>
{{else}}
	<p>There are no pages in the cache.</p>
{{/if}}
</div>
