{{> pageHeader title="Films Watched" }}

{{#if rescanerror }}
<div class="error sectioncontainer page--data">
	<p>
		Did not rescan Letterboxd.
	</p>
</div>
{{/if}}

{{#if hasLetterboxdConnected}}
<form action="/films/rescan" method="POST" class="sectioncontainer">
	<div class="info rounded-panel page--data">
		<p><strong>Manually rescan films from Letterboxd</strong></p>
		<input type="submit" value="Rescan" id="rescan" />
	</div>
</form>
{{/if}}

{{> internal/film }}
<hr/>

{{#each films as |film| }}
	{{> internal/film data=film page=../page }}
{{/each}}

{{> pagination route="/films" pagination=pagination }}
