{{> pageHeader title=title url=backUrl }}

{{#if session}}
	<p class="sectioncontainer">
		Editing <strong>{{achievements.length}}</strong> achievements for
		<strong>{{session.name}}</strong> session,
		which lasted <strong>{{session.duration}}</strong>.
	</p>
{{/if}}

{{> internal/game-achievement session_id=id }}
<hr />

{{#each achievements as |achievement| }}
	{{> internal/game-achievement session_id=../id data=achievement }}
{{/each}}
