<h2>Internal UI</h2>

<ul>
	<li><a href="/notes">Notes</a></li>
	<li><a href="/timetracking">Time Tracking</a></li>
	<li><a href="/scrobble">Scrobble Album</a></li>
	<li><a href="/tv">Log a TV episode</a></li>
	<li><a href="/tv/list">TV episodes</a></li>
	<li><a href="/films">Films</a></li>
	<li><a href="/games">Games</a></li>
	<li><a href="/weight">Weight</a></li>
	<li><a href="/food">Food</a></li>
	<li><a href="/purchases">Purchases</a></li>
	<li><a href="/bookmarks">Bookmarks</a></li>
	<li><a href="/listens">Listens</a></li>
	<li><a href="/youtubelikes">YouTube Likes</a></li>
	<li><a href="/steps">Steps</a></li>
	<li><a href="/books">Books</a></li>
	<li><a href="/location">Location History</a></li>
</ul>
