{{> pageHeader title="Listens" url="/" }}

{{#if hasSubsonicConnected}}
<form action="/listens/update_metadata" method="POST" class="sectioncontainer">
	<div class="info rounded-panel page--data">
		<p><strong>Update missing metadata from subsonic.</strong></p>
		<p>WARNING: This may take a LONG time if you have a lot of missing data.</p>
		<input type="submit" value="Rescan" id="rescan" />
	</div>
</form>
{{/if}}

{{> internal/listen }}
<hr/>

{{#each listens as |listen| }}
	{{> internal/listen data=listen }}
{{/each}}

{{> pagination route="/listens" pagination=pagination }}
