<div class="page--data__header">
	<a href="/tv">&lt;- Back</a>
	<h2>Log an episode:</h2>
</div>

<p>Pick an episode:</p>

<form class="scrobble" action="/tv/episode" method="POST">
	<select name="episodeId">
	{{#each episodeList as |episode| }}
		<option value="{{episode.id}}">{{episode.title}}</option>
	{{/each}}
	</select>

	<input type="submit" value="Log episode" />
</form>
