{{> pageHeader title="Log an episode" url="/tv" }}

<p>Pick an episode:</p>

<form class="scrobble" action="/tv/episode" method="POST">
	<select name="episodeId">
	{{#each episodeList as |episode| }}
		<option value="{{episode.id}}">{{episode.title}}</option>
	{{/each}}
	</select>

	<input type="submit" value="Log episode" />
</form>
