{{> pageHeader title="Log an episode" }}

<p>Pick a TV series:</p>

<form class="scrobble" action="/tv/episode" method="GET">
	<select name="seriesId">
	{{#each seriesList as |series| }}
		<option value="{{series.id}}">{{series.title}}</option>
	{{/each}}
	</select>

	<input type="submit" value="Pick an episode" />
</form>
