<h2><a href="/listens">listening to:</a></h2>
{{> listen data=latest.listen showlink=true }}

<h2><a href="/youtubelikes">liking on youtube:</a></h2>
{{> youtubeLike data=latest.youtubeLike showlink=true }}
