<div class="dashboard--panel rounded-panel" id="dashboard--panel__{{title}}">
	<div class="dashboard--panel__header">
		<h2>{{{title}}}</h2>
		{{#if link }}
			<a href="/{{link}}">see more ></a>
		{{/if}}
	</div>
	<div class="dashboard--panel__content">
		{{> @partial-block }}
	</div>
</div>
