<div class="sectioncontainer">
	<div class="row pagination">
		<div class="right">
			{{#if pagination.showPrev}}
				<a href="{{route}}?page={{pagination.prevPage}}">◀ Prev</a>
			{{/if}}
		</div>
		<div class="right">
			{{#if pagination.showNext}}
				<a href="{{route}}?page={{pagination.nextPage}}">Next ▶</a>
			{{/if}}
		</div>
	</div>
</div>
