<div class="sectioncontainer">
	<div class="row">
		<div class="right">
			{{#if pagination.showPrev}}
				<a href="{{route}}?page={{pagination.prevPage}}">&lt; Prev</a>
			{{/if}}
		</div>
		<div class="right">
			{{#if pagination.showNext}}
				<a href="{{route}}?page={{pagination.nextPage}}">Next &gt;</a>
			{{/if}}
		</div>
	</div>
</div>
