<div class="page--data">
	{{> pageHeader title="Reading" url="/" }}

	{{#each books as |book|}}
		{{> book data=book showlink=true }}
	{{/each}}

	{{> pagination pagination=pagination route="/books" }}
</div>
