{{#if device }}
	{{> device device=device city=city }}
{{/if}}

{{#if listen }}
	<h2><a href="/listens">Listening to:</a></h2>
	{{> listen data=listen showlink=true }}
{{/if}}

{{#if youtubeLike }}
	<h2><a href="/youtubelikes">Liking on YouTube:</a></h2>
	{{> youtubeLike data=youtubeLike showlink=true }}
{{/if}}

{{#if gameActivity }}
	<h2><a href="/games">Playing:</a></h2>
	{{> gameActivity data=gameActivity showlink=true }}
{{/if}}
