<div class="page--data">
	<div class="error rounded-panel">
		<p>Error: {{error}}</p>
	</div>

	<p>
		Unfortunately, whatever you are looking for didn't work or
		doesn't exist here. Have you considered going back to the
		<a href="/">homepage</a>?
	</p>
</div>
