<div class="page--data">
	<h2>Error: {{error}}</h2>

	<p>
		Unfortunately, whatever you are looking for didn't work or
		doesn't exist here. Have you considered going back to the
		<a href="/">homepage</a>?
	</p>
	<p>
		Alternatively, check out some other things I do:
	</p>
	<ul>
		<li><a href="https://www.youtube.com/TomboFry" target="_blank" rel="noopener">Music / YouTube</a></li>
		<li><a href="https://music.tombofry.co.uk/" target="_blank" rel="noopener">Music / Bandcamp</a></li>
		<li><a href="https://open.spotify.com/artist/3gvruE4ijqKyrzf8MfenBH" target="_blank" rel="noopener">Music / Spotify</a></li>
		<li><a href="https://www.tombo.sh/" target="_blank" rel="noopener">Development</a></li>
		<li><a href="https://www.tomgardiner.me/" target="_blank" rel="noopener">Personal Blog</a></li>
	</ul>
</div>
