<div class="page--data">
	{{> pageHeader title="The Everything Feed" url="/" }}

	<p>Everything I've done from the last seven days, on one page!</p>

	<p class="e-content">
		This is a little experiment to see if/how I like all the data
		being displayed at once. Don't be alarmed if this page suddenly
		disappears. You may find that the most common type of data is
		music scrobbles, because I listen to a lot more music than
		anything else, apparently!
	</p>

	<hr />

	{{#each entries as |entry|}}
		{{#xif type '==' 'note'}}{{> note data=data }}{{/xif}}
		{{#xif type '==' 'game'}}{{> gameActivity data=data }}{{/xif}}
		{{#xif type '==' 'episode'}}{{> tv data=data }}{{/xif}}
		{{#xif type '==' 'book'}}{{> book data=data }}{{/xif}}
		{{#xif type '==' 'like'}}{{> youtubeLike data=data }}{{/xif}}
		{{#xif type '==' 'film'}}{{> film data=data }}{{/xif}}
		{{#xif type '==' 'listen'}}{{> listenCompact data=data }}{{/xif}}
	{{/each}}
</div>
