<div class="page--data">
	{{> pageHeader title="Listening to" url="/" }}

	<h3>Most scrobbled artists (7 days)</h3>
	<table>
		{{#each popular as |artist| }}
		<tr>
			<td class="align-r">{{artist.artist}}</td>
			<td><strong>{{artist.count}}</strong></td>
		</tr>
		{{/each}}
	</table>

	<h3>Scrobble count by day</h3>
	{{{svg}}}

	{{#each listens as |listen| }}
		{{> listen data=listen showlink=true }}
	{{/each}}

	{{> pagination pagination=pagination route="/music" }}
</div>
