<div class="page--data">
	<h1>Setup Required</h1>
	<div class="rounded-panel error">
		<p>
			Hello! Before you can properly use <em>everything</em>,
			you still need to set up a couple of things. Please
			visit the internal admin server for more information.
		</p>
		<p>
			If you've already run this step and you're still seeing
			this page, it might be cached!
		</p>
	</div>
</div>
