<div class="page--data">
	{{> pageHeader title="Liked YouTube Video" }}
	{{> youtubeLike data=youtubeLike }}
	<iframe class="youtube" src="https://www.youtube-nocookie.com/embed/{{youtubeLike.video_id}}"></iframe>
</div>
